.confirm-btn-no {
  background-color: transparent;
  color: var(--color-text-white);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.confirm-btn-no:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.3);
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
